extends ./main_template.pug

block content
    .text-center
    h4#main_page_content-shared_title.big-line-height
    | Instituto Tecnológico y de Estudios Superiores
    | de Monterrey
    br
    | Escuela de Arquitectura, Arte y Diseño
    br
    | Sustentabilidad Ambiental
    p#main_page_content-student_data
    | Nombre: ______________________________________________ Fecha:
    | ____/____/______ Grupo: ______

    block activity_content