{% extends "../templates/activity_template.njk" %}
{% block title %}Coherencia Sustentable{% endblock %}

{% block activity_content %}
    <div id="images" class="row">
        <a href="assets/MP1/img1.gif" tosrus="true" hasimage="false"></a>
        <a href="assets/MP1/img2.jpg" tosrus="true" hasimage="false"></a>
        <a href="assets/MP1/img3.jpg" tosrus="true" hasimage="false"></a>
        <a href="assets/MP1/img4.gif" tosrus="true" hasimage="false"></a>
    </div>
    <div id="printable">
        <div id="meh"></div>
        <div id="main_page_content-shared_activity_content"></div>
        <h3 class="text-center" id="main_page_content-activity-title">Coherencia Sustentable</h3>
        <div id="main_page_content-activity_description">
            <strong>Contesta ampliamente las siguientes preguntas:</strong>
            <br/>
            <br/>
            <ol id="main_page_content-activity_questions">
                <li>¿Cómo vivo mi Sustentabilidad?</li>
                <li>¿Qué he hecho para demostrar el respeto hacia el planeta?</li>
                <li>¿Qué significa Coherencia Sustentable?</li>
                <li>Considero que nuestros gobernantes.. ¿Son coherentes con sus políticas ambientalistas?.. o bien,
                    ¿Tienen solo intereses económicos?
                </li>
                <li>¿Cómo puedo ayudar desde mi plataforma de alumno, joven estudiante a resolver los problemas de mi
                    país?
                </li>
                <li>¿Qué tan transparente puede ser el tema de la sustentabilidad para que sea "sanamente sustentable" y
                    no que cumpla sólo por "intereses económicos"?
                </li>
                <li>Conforme a mi enseñanza de "Arquitectura". ¿Están realmente enfocados los temas de la
                    sustentabilidad a lo largo de mi Plan de estudios?
                </li>
                <li>¿Cómo surgen los huracanes, terremotos e inundaciones?</li>
                <li>¿Qué entiendes por energía cinética?</li>
                <li>Explica gráficamente (antes y después) del Efecto Invernadero. Se piden: 2 dibujos tierra y sol.
                </li>
                <li>¿Qué significa Cambio Climático?</li>
                <li>Explica el diagrama de la Carga Desigual</li>
                <li>¿Qué es la Contaminación?</li>
                <li>¿Qué tipos de contaminantes existen?</li>
                <li>¿Qué es la Deforestación?</li>
                <li>¿Cómo evitar la Deforestación?</li>
                <li>¿Cuándo una especie está en peligro de extinción?</li>
                <li>¿Cómo evitar la extinción de especies?</li>
                <li>¿Qué puedo hacer como estudiante de arquitectura ante todo lo que actualmente sucede en el mundo?
                </li>
                <li>¿Cómo voy a ser coherente sustentablemente de ahora en adelante?</li>
            </ol>
        </div>
        <br/>
    </div>
{% endblock %}