<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Página de diseño bioclimático">
    <meta name="author" content="Roberto Ruiz Twitter:RobRuizR">
    <title>Agua</title>
    <!-- Bootstrap Core CSS -->
    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="../dist/css/sb-admin-2.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="../bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="../css/jquery.tosrus.all.css" />
    <link href="../css/style.css" rel="stylesheet" type="text/css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button> <span id="moondo-wrapper"><a class="navbar-brand" href="index.html"><i class="fa fa-leaf"></i> MoondoReyes</a></span> </div>
        <!-- /.navbar-header -->
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu"> </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>
    <div id="page-wrapper" style="min-height: 99px;">
        <br/>
        <div id="printable">
            <div id="main_page_content-shared_activity_content"></div>
            <h3 class="text-center" id="main_page_content-activity-title">Problemática del agua en la ciudad</h3>
            <br>
            <div id="main_page_content-activity_description">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="panel panel-info">
                            <div class="panel-heading">El agua. ¿El petróleo del futuro?</div>
                            <div class="panel-body">
                                <div class="col-xs-9">
                                    <p>La industria de la construcción ha comenzado a enfrentarse al calentamiento global , pero todavía tiene que asumir su responsabilidad respecto al ahorro de recursos hídricos. El agua es posiblemente tan importante como la energía, y su escasez en el mundo es más urgente que el abastecimiento de energía. A diferencia de la energía el agua tiene un impacto directo sobre la salud y la producción de alimentos y aunque exista una relación entre recursos energéticos, pobreza y salud, no es de ningún modo tan directa como el caso de del agua. En África, la mayor parte de Asia e incluso algunas zonas de Europa, la escasez del agua es la carencia más fuerte. ¿Será el petróleo del futuro?</p>
                                </div>
                                <div id="images">
                                    <a href="assets/MP2.4/img1.jpg" wrapwith="col-xs-3" tosrus="true" hasimage="false"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="panel panel-info">
                            <div class="panel-heading"> El agua: Pobreza y salud.</div>
                            <div class="panel-body">
                                <p>En el mundo actual 1/6 personas no tiene acceso a agua potable, casi la mitad de la población carece de instalaciones sanitarias adecuadas en sus viviendas, y cada 15 segundos muere un niño a causa de alguna enfermedad relacionada con el agua.</p>
                                <p>Los arquitectos que trabajan en el extranjero deben conceder tanta importancia al consumo de agua como al de energía, y los que trabajan en África, partes de Asia y Latinoamérica descubrirán que la ingeniería hidráulica y las instalaciones sanitarias domésticas presentan problemas insalvables. </p>
                                <p>En Uganda la prioridad es el agua, no el petróleo. En este mismo país, la excavación de un pozo moderno cuesta unos 1,200, y el agua potable genera salud, educación y métodos agrícolas más eficaces. El agua es, por tanto, la clave de una reacción en cadena que produce múltiples beneficios para algunas de las regiones más empobrecidas del mundo. En países como Kenia, Tanzania, Sudán y Ruanda, los arquitectos deben ocuparse de las infraestructuras hidráulicas antes de abordar la tarea de proyectar edificios. Crear, en primer lugar, una red de abastecimiento de agua no contaminada y en segundo lugar, proporcionar servicios sanitarios, o asesos domésticos.</p>
                                <p>La ONG Water Aid ofrece asesoramiento sobre cómo excavar pozos, colocar tuberías y proporcionar suministro de agua a comunidades rurales remotas, pero necesita la colaboración de arquitectos, ingenieros y mecánicos sobre el terreno para instalar los equipos y supervisar las obras. El desplazamiento de la población humana hacia las ciudades ejerce presión sobre el suelo edificable, el agua y la energía disponible, y sobre la capacidad de tratamiento de aguas negras y residuos.</p>
                                <p> Por primera vez en la historia de la humanidad en el año 2000 la población urbana supero a la población rural: de una población mundial de 6,200 millones de habitantes, es mayor el número de ellos que reside en las ciudades que en el campo.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-danger">
                    <div class="panel-heading">2010. Las causas de la disminución de agua en México.</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-9">En el pasado medio siglo la disponibilidad de agua en México disminuyó en un 60%, es decir de 11 mil m3 por persona por año a 4,547 m3. En el norte del país que es más árido, la disponibilidad es de 1300 m3. Once millones de personas - o sea, mas de 10%- carecen de agua potable en México. Esta disminución de disponibilidad de agua va asociada a la deforestación, que corresponde a un rango entre 400 y 800 mil ha anuales. En México la degradación de bosques y selvas contribuye con 12.4% a las emisiones de gases de efecto invernadero del país. Otra causa de la disminución de la disponibilidad del agua es el bajo tratamiento de aguas residuales (31% del volumen recolectado).</div>
                            <div id="images">
                                <a href="assets/MP2.4/img3.jpg" wrapwith="col-xs-3" tosrus="true" hasimage="false"></a>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-xs-12">
                                <p>Una de las grandes paradojas en relación con el agua es que en muchas regiones el desabasto de agua es mayor cuanto más llueve. La deforestación en terrenos de laderas ocasiona erosión o deslave de suelos y la buena tierra fluye en las corrientes de agua hacia el mar y, donde hay represas de captación para alimentar a las ciudades, los sedimentos enturbian el agua que debe ser retenida y depurada antes de seguir su camino por las tuberías. Como consecuencia de la deforestación y el cambio climático, varias entidades del país verán incrementarse el escenario de desertificación en el que ya se encuentran (Baja California, Coahuila, Jalisco, Colima, Nayarit, Guanajuato, Querétaro, Sonora, Michoacán, Hidalgo). Los efectos sobre la producción de alimentos se verán en todo el país, tanto en productores como en consumidores. </p>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <p>Del libro: 390 planeta alerado. Cambios climáticos y México. Catálogo Expo Guanajuato Bicentenario 2010. Giroscopio SA de CV. México 2010. </p>
                    </div>
                </div>
                <div class="panel panel-info">
                    <div class="panel-heading">La gobernabilidad del agua.</div>
                    <div class="panel-body">
                        <div class="row">
                            <div id="images">
                                <a href="assets/MP2.4/img2.jpg" wrapwith="col-xs-3" tosrus="true" hasimage="false"></a>
                            </div>
                            <div class="col-xs-9">
                                <p>El concepto de gobernabilidad cuando se aplica al agua, se refiere a la capacidad de la sociedad para el desarrollo sostenible y la coherencia de los recursos hídricos. </p>
                                <p> En esencia, implica la capacidad para generar las políticas adecuadas y llevarlas a la práctica. Eso pasa por la búsqueda de consensos, la construcción de sistemas de gestión coherentes (es decir, instituciones, leyes cultura, conocimientos, prácticas y tradiciones), y la administración adecuada del sistema (lo que a su vez supone aceptación social y desarrollo de competencias). La importancia del término gobernabilidad en esta región está en buena medida asociada a los profundos cambios institucionales que han caracterizado las últimas décadas, con la consiguiente aparición de nuevas reglas del juego y organizaciones. </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="panel panel-success">
                            <div class="panel-heading">¿Te importa?</div>
                            <div class="panel-body">
                                <div class="col-xs-9">
                                    <p>El agua es posiblemente tan importante como la energía, y su escasez en el mundo es más urgente que el abastecimiento de energía. A diferencia de la energía el agua tiene un impacto directo sobre la salud y la producción de alimentos y aunque exista una relación entre recursos energéticos, pobreza y salud, no es de ningún modo tan directa como el caso de del agua. En África, la mayor parte de Asia e incluso algunas zonas de Europa, la escasez del agua es la carencia más fuerte. ¿Será el petróleo del futuro?</p>
                                </div>
                                <div id="images">
                                    <a href="assets/MP2.4/img4.jpg" wrapwith="col-xs-3" tosrus="true" hasimage="false"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="panel panel-warning">
                            <div class="panel-heading">Preguntas:</div>
                            <div class="panel-body">
                                <div id="main_page_content-activity_questions">
                                    <div id="row">
                                        <ol>
                                            <li>¿Qué relación tiene el cuidado del agua con la materia de Diseño Bioclimático?</li>
                                            <li>¿Cuál es la relación de la industria de la construcción con el calentamiento global?</li>
                                            <li>¿Porqué se podría considerar el agua como el "petróleo del futuro"?</li>
                                            <li>¿Los arquitectos porqué deberían de preocuparse por las infraestructuras hidráulicas y no por construir edificios</li>
                                            <li>¿Cuántas personas carecen en México de agua potable?</li>
                                            <li>¿Qué relación tiene la deforestación y la disponibilidad de agua en la ciudad?</li>
                                            <li>¿Qué significa el término <strong>Desertificación</strong>?</li>
                                        </ol>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br/> </div>
    </div>
    <!-- jQuery -->
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../js/jquery.tosrus.all.min.js"></script>
    <script type="text/javascript" src="../js/hammer.min.js"></script>
    <script src="../js/sidebar.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Metis Menu Plugin JavaScript -->
    <script src="../bower_components/metisMenu/dist/metisMenu.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="../dist/js/sb-admin-2.js"></script>
    <script src="../js/global.js"></script>
</body>

</html>