extends ../templates/main_template
block title
    | Evaluación

block content
    .mdl-grid
        .mdl-cell--12-col-phone
            .panel.panel-info
                .panel-heading Evaluación formal
                .panel-body
                    | Dentro de la evaluación formativa se utilizan los siguientes Formatos de
                    | Evaluación:
                    ul
                        li Autoevaluación parcial.
                        li PEI. Partners Evaluation Instrument (Instrumento de Evalaución de Compañeros.
                        li Instrumento de Evalaución de habilidades, actitudes y valores.
                        li Plan de Mejora de Trabajo en Equipo.
                    br
                    .mdl-cell--6-col-phone
                        .panel.panel-default
                            .panel-heading Ponderación parcial
                            table.table
                                tr
                                    th Criterio
                                    th Valor
                                tr
                                    td Tareas (Actividades del Parcial)
                                    td 30%
                                tr
                                    td Examen Parcial
                                    td 50%
                                tr
                                    td Autoevaluación Parcial
                                    td 5%
                                tr
                                    td
                                        | PEI. Partners Evaluation Instrument (Instrumento de Evalaución de Compañeros)
                                    td 10%
                                tr
                                    td Plan de Mejora de Trabajo en Equipo
                                    td 5%
                                tr
                                    td
                                        strong Total
                                    td
                                        strong 100%
                    .mdl-cell--6-col-phone
                        .panel.panel-default
                            .panel-heading Ponderación final
                            table.table
                                tr
                                    th Criterio
                                    th Valor
                                tr
                                    td 3 exámenes parciales (Actividades del Parcial):
                                    td 60%
                                tr
                                    td Proyecto final:
                                    td 20%
                                tr
                                    td Autoevaluación final:
                                    td 5%
                                tr
                                    td Examén final:
                                    td 15%
                                tr
                                    td
                                        strong Total:
                                    td
                                        strong 100%
        .mdl-cell--12-col-phone
            .panel.panel-info
                .panel-heading Evaluación sumativa emergente
                table.table.small-padding
                    tr
                        td
                            p
                                | 1er Parcial Cada tarea no entregada y/o revisada en su manual de clase: Restará
                                | puntuación de cada parcial 20%. Es necesario que el alumno efectúe las tareas de cada
                                | parcial pues forman parte del examen escrito.
                        td 20%
                    tr
                        td
                            p
                                | 2do Parcial. Cada tarea no entregada y/o revisada en su manual de clase: Restará
                                | puntuación de cada parcial 20%. Es necesario que el alumno efectúe las tareas de cada
                                | parcial pues forman parte del examen escrito.
                        td 20%
                    tr
                        td
                            p
                                | 3eer. Parcial Cada tarea no entregada y/o revisada en su manual de clase: Restará
                                | puntuación de cada parcial 20%. Es necesario que el alumno efectúe las tareas de cada
                                | parcial pues forman parte del examen escrito. En el 3er parcial se contemplan
                                | ACTIVIDADES efectuadas con el Software ECOTECT, las cuales formarán parte de la
                                | ponderación final del curso.
                        td 20%
                    tr
                        td
                            p
                                | Final Se contemplan ACTIVIDADES efectuadas con el Software ECOTECT, las cuales formarán
                                | parte de la ponderación final del curso.
                        td 40%
                    tr
                        td
                            strong Gran total
                        td
                            strong 100%
