extends ../templates/main_template.pug
block title
    Indice
block content
    .mdl-grid
        .mdl-layout-spacer
        .android-card-container.mdl-cell--10-col
            .mdl-typography--display-1-color-contrast.mdl-typography--text-center
                h1 Diseño Bioclimático
            .mdl-grid
                .mdl-cell.mdl-cell--3-col.mdl-cell--4-col-tablet.mdl-cell--4-col-phone.mdl-card.mdl-shadow--3dp
                    .mdl-card__media
                        img(src='assets/images/more-from-1.png')
                    .mdl-card__title
                        h4.mdl-card__title-text Módulo 1
                    .mdl-card__supporting-text
                        span.mdl-typography--font-light.mdl-typography--subhead Contenido del módulo 1
                    .mdl-card__actions
                        a.android-link.mdl-button.mdl-js-button.mdl-typography--text-uppercase(href='', data-upgraded=',MaterialButton')
                            | Ver más
                            i.material-icons chevron_right
                .mdl-cell.mdl-cell--3-col.mdl-cell--4-col-tablet.mdl-cell--4-col-phone.mdl-card.mdl-shadow--3dp
                    .mdl-card__media
                        img(src='assets/images/more-from-1.png')
                    .mdl-card__title
                        h4.mdl-card__title-text Módulo 2
                    .mdl-card__supporting-text
                        span.mdl-typography--font-light.mdl-typography--subhead Contenido del módulo 2
                    .mdl-card__actions
                        a.android-link.mdl-button.mdl-js-button.mdl-typography--text-uppercase(href='', data-upgraded=',MaterialButton')
                            | Ver más
                            i.material-icons chevron_right
                .mdl-cell.mdl-cell--3-col.mdl-cell--4-col-tablet.mdl-cell--4-col-phone.mdl-card.mdl-shadow--3dp
                    .mdl-card__media
                        img(src='assets/images/more-from-1.png')
                    .mdl-card__title
                        h4.mdl-card__title-text Módulo 3
                    .mdl-card__supporting-text
                        span.mdl-typography--font-light.mdl-typography--subhead Contenido del módulo 3
                    .mdl-card__actions
                        a.android-link.mdl-button.mdl-js-button.mdl-typography--text-uppercase(href='', data-upgraded=',MaterialButton')
                            | Ver más
                            i.material-icons chevron_right
        .mdl-layout-spacer
