extends ../templates/activity_template.pug
prepend title
    | Conoce tu estado

block activity_content
    .mdl-grid
        .mdl-layout-spacer
            .text-center
                h3 Arquitectura Vernácula en el Noroeste de México
                h4 Caso de estudio: Municipios de Monterrey.
        .mdl-grid
            .mdl-cell--6-col.mdl-cell
                img(src="assets/M1.1.10/NL.jpg").img-responsive
            .mdl-cell--6-col.mdl-cell
                img(src="assets/M1.1.10/vern_1.jpg").img-responsive
        .mdl-grid
            .mdl-cell--6-col.mdl-cell
                img(src="assets/M1.1.10/vern_2.jpg").img-responsive
            .mdl-cell--6-col.mdl-cell
                img(src="assets/M1.1.10/vern_3.jpg").img-responsive
        .mdl-layout-spacer
            h5 Visita un municipio de Nuevo Léon.
            p Nota: Las fotografías son necesarias en cada apartado
            br
            h6 Abstract
            h6 Introducción
            h6 Capítulo 1. Antecedentes.
            ul
                li 1.1  Ubicación geográfica
                li 1.2  Orografía
                li 1.3  Hidrografía
                li 1.4  Clima
                li 1.5  Ubicación del sitio
                li 1.6  Características históricas
            h6 Capitulo 2. Arquitectura Vernácula.
            ul
                li 2.1 ¿Por qué se considera arquitectura vernácula?
            h6 Capítulo 3. Descripción Espacial.
            ul
                li 3.1 Distribución y orientación de los espacios.
            h6 Capítulo 4. Materiales.
            ul
                li 4.1 Techos
                li 4.2 Muros
                li 4.3 Pisos
                li 4.4 Ventanas y puertas
            h6 Capítulo 5. Protección Solar.
            ul
                li 5.1 ¿Cómo se protege la casa del sol?
            h6 Capítulo 6. Ventilación.
            ul
                li 6.1 ¿Cómo se encuentra ventilada la casa?
            h6 Capítulo 7. Condiciones en meses estibos.
            ul
                li ¿Cómo se mantiene la casa en meses estibos?
            h6 Capítulo 8. Ventajas de la arquitectura vernácula.
            ul
                li Ventajas de la arquitectura vernácula.
            h6 Capítulo 9. Importancia del trabajo.
            h6 Conclusiones
            h6 Bibliografía



