extends ../templates/activity_template.pug
prepend title
    | Coherencia Sustentable

block activity_content
    #images.row
        a(href='assets/MP1/img1.gif', tosrus='true', hasimage='false')
        a(href='assets/MP1/img2.jpg', tosrus='true', hasimage='false')
        a(href='assets/MP1/img3.jpg', tosrus='true', hasimage='false')
        a(href='assets/MP1/img4.gif', tosrus='true', hasimage='false')
    #printable
        #main_page_content-shared_activity_content
        h4 Coherencia Sustentable
        #main_page_content-activity_description
            strong Contesta ampliamente las siguientes preguntas:
            br
            br
            ol#main_page_content-activity_questions
                li ¿Cómo vivo mi Sustentabilidad?
                li ¿Qué he hecho para demostrar el respeto hacia el planeta?
                li ¿Qué significa Coherencia Sustentable?
                li
                    | Considero que nuestros gobernantes.. ¿Son coherentes con sus políticas ambientalistas?.. o bien,
                    | ¿Tienen solo intereses económicos?
                li
                    | ¿Cómo puedo ayudar desde mi plataforma de alumno, joven estudiante a resolver los problemas de mi
                    | país?
                li
                    | ¿Qué tan transparente puede ser el tema de la sustentabilidad para que sea "sanamente sustentable" y
                    | no que cumpla sólo por "intereses económicos"?
                li
                    | Conforme a mi enseñanza de "Arquitectura". ¿Están realmente enfocados los temas de la
                    | sustentabilidad a lo largo de mi Plan de estudios?
                li ¿Cómo surgen los huracanes, terremotos e inundaciones?
                li ¿Qué entiendes por energía cinética?
                li
                    | Explica gráficamente (antes y después) del Efecto Invernadero. Se piden: 2 dibujos tierra y sol.
                li ¿Qué significa Cambio Climático?
                li Explica el diagrama de la Carga Desigual
                li ¿Qué es la Contaminación?
                li ¿Qué tipos de contaminantes existen?
                li ¿Qué es la Deforestación?
                li ¿Cómo evitar la Deforestación?
                li ¿Cuándo una especie está en peligro de extinción?
                li ¿Cómo evitar la extinción de especies?
                li
                    | ¿Qué puedo hacer como estudiante de arquitectura ante todo lo que actualmente sucede en el mundo?
                li ¿Cómo voy a ser coherente sustentablemente de ahora en adelante?
        br

